.displayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    border: 4px solid #004f92;
    background-color: #004f92;
    border-radius: 5px;
    padding: 15px 30px;
    margin-bottom: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 40px;
    border: 4px solid #004f92;
    border-radius: 5px;
    padding: 15px 30px;
}